.colors {

    color: #111;
    color: #8ba018;
    color: #207010;
    color: #fa0f0f;
}

* {
    box-sizing: border-box;
}

:root {
    --clrBG: #111;
    --clrCovered: darkgrey;
    --clrSwampy: #207010;
    --clrYellowy: #8ba018;
}

body {
    background: var(--clrBG);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    align-items: center;
}

table {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    margin: auto;
}
#main-table{
    
    background-image: url('../img/bg1.jpg');
    background-size: cover;
}

td {
    width: 50px;
    height: 50px;
    text-align: center;
    transition: 0.5s;
    border: 2px solid rgb(0, 0, 0);
    /* background-color: rgb(120, 194, 223); */
}



.cell {
    width: 40px;
    height: 40px;
    /* background-color: transparent; */
    /* cursor: pointer; */
    
    
}


.cell img, .under-table img {
    height: 25px;
}

.covered {
    /* background-color: darkgrey; */
    
    
    /* background: var(--clrCovered);
    background: linear-gradient(90deg, var(--clrCovered) 0%, rgb(85, 82, 82) 80%);
    background: -webkit-linear-gradient(90deg, var(--clrCovered) 0%, rgb(85, 82, 82));
    background: -moz-linear-gradient(90deg, var(--clrCovered) 0%, rgb(85, 82, 82)); */
    
    
}

.revealed {

    background-color: lightgray;
}

/* .covered:hover {
    transition: 0.5s;
    background-color:#207010;
} */

.safe{
    background-color: aqua;
}

.mined {
    background-color: #fa0f0f;
}

.count1 {
    color: blue;
}

.count2 {
    color: green;
}

.count3 {
    color: red;
}

.count4 {
    color: darkblue;
}

.count5{
    color: darkred;
}

.under-table {
    width: 160px;
    margin: 10px auto;
    border: 2px white solid;
    background-color: lightgrey;
    color: red;
    font-size: 2em;
}



.modal {
    display: none;
    position: absolute;
    /* width: 200px; */
    padding: 30px;
    border-radius: 20px;
    top: 130px;
    left: calc(50% - 115px);
    background-color: transparent;
    font-weight: bold;
    font-size: 2em;
    color: rgb(247, 13, 13);
    text-shadow: 4px 3px 8px rgba(0, 0, 0, 1);
}

.footer {
    margin-top: 45px;
    margin-left: 50px;
    text-align: left;
}

[title="Hint"] {
    cursor: pointer;
}

.diff-btn {
    padding: 10px;
    cursor: pointer;
}

[title="How do you do?"]{
    margin: 0 33px;
}
[title="Safety Button"]{
cursor: pointer;
}
[title="Mega Hint"]{
cursor: pointer;
}
[title="Exterminate 3 Random Mines"]{
    display: none;
    cursor: pointer;
    margin: auto;
}
