.colors {
    color: rgb(228, 218, 213);
    color: rgb(5, 29, 3);
    color: #705139;
    color: #111;
    color: #8ba018;
    color: #207010;
    color: #860303;
    color: rgb(7, 7, 134);
    color: lightgray;
}

* {
    box-sizing: border-box;
}

:root {
    --clrMainText: white;
    --clrBG: #111;
    --clrBtns: lightgray;
    --clrRevealed: lightgray;
    --clrBtnsNo: rgb(161, 161, 161);
    --clrSwampy: #135007;
    --clrYellowy: #8ba018;
    --clrDarkRed: #a80000;
    --clrDarkBlue: rgb(7, 7, 134);

    --boxHeight: 30px;
    --boxMargin: 2px auto;
    --boxPadding: 7px 10px;
    --btnRound: 10px;
    --btnRound2: 2px
}

body {
    background: var(--clrBG);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--clrMainText);
    text-align: center;
    align-items: center;
    transition: 0.3s;
}

.upper-info {
    margin-bottom: 4px;
}

[title="How do you do?"] {
    margin: 0 33px;
}

/* Manual and color modes  */

.mode-btns {
    position: absolute;
    left: 15px;
}

.manualBtn {
    margin-bottom: 14px;
    width: 90px;
    height: 50px;
    cursor: pointer;
    box-shadow: inset -2px -2px 4px 0px rgb(58, 57, 57);
    border-radius: var(--btnRound2);
    background-color: var(--clrBtns);
    border-style: none;
}

.mode {
    height: var(--boxHeight);
    margin-top: 4px;
    border-radius: 6px;
    width: 90px;
}

.darkMode {
    background-color: #111;
    border: 2px solid lightgray;
    color: white;
}

.lightMode {
    background-color: #FAF9F6;
    border: 2px solid var(--clrBtnsNo);
    color: black;
}

.forestMode {
    background-color: rgb(5, 29, 3);
    border: 2px solid #705139;
    color: #FAF9F6;
}

/* Board Area */

table {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    margin: 0 auto 4px;
}

#main-table {
    background-image: url('../img/bg1.jpg');
    background-size: cover;
}

td {
    width: 40px;
    height: 40px;
    font-size: 1rem;
    text-align: center;
    transition: 0.5s;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    box-shadow: inset -1px -1px 1px 0px rgb(7, 7, 7);
}

.cell img,
.under-table img {
    height: 25px;
}

.revealed {
    cursor: default;
    background-color: var(--clrRevealed);
    box-shadow: none;
}

/* Colors of numbers */

.count1 {
    color: var(--clrDarkBlue);
}

.count2 {
    color: var(--clrSwampy);
}

.count3 {
    color: var(--clrDarkRed);
}

.count4 {
    color: rgb(62, 4, 128);
}

.count5 {
    color: rgba(71, 36, 6, 0.904);
}

/* Buttons Area */

.actions {
    box-shadow: inset -2px -2px 4px 0px rgb(58, 57, 57);
    border-style: none;
    height: var(--boxHeight);
    padding: var(--boxPadding);
    margin: var(--boxMargin);
    cursor: pointer;
    border-radius: var(--btnRound2);
    background-color: var(--clrBtns);
}

[title="Exterminate 3 Random Mines"] {
    display: none;
    width: 256px;
    margin: 2px auto 4px;
    border-style: none;
    border-radius: var(--btnRound);
}

.under-table {
    box-shadow: inset -2px -2px 4px 0px rgb(58, 57, 57);
    height: var(--boxHeight);
    margin: var(--boxMargin);
    border-radius: var(--btnRound);
    width: 256px;
    background-color: var(--clrBtns);
    color: var(--clrDarkRed);
    font-size: 1.4em;
}

[title="Hint"] {
    cursor: pointer;
    padding-top: 4px;
}

[title="Lives"] {
    margin: 2px;
}

.diff-btn {
    box-shadow: inset -2px -2px 4px 0px rgb(58, 57, 57);
    border-style: none;
    height: var(--boxHeight);
    padding: var(--boxPadding);
    background-color: var(--clrBtns);
    cursor: pointer;
    width: 82px;
    margin: var(--boxMargin);
    border-radius: var(--btnRound2);
    background-color: var(--clrBtns);
}

.modal {
    display: none;
    position: absolute;
    padding: 30px;
    border-radius: 20px;
    top: 130px;
    left: calc(50% - 138px);
    background-color: transparent;
    font-weight: bold;
    font-size: 2.5em;
    color: var(--clrDarkRed);
    text-shadow: 4px 3px 8px rgba(0, 0, 0, 1);
}

.modalWin {
    left: calc(50% - 300px);
    padding: 0;
    top: 160px;
    transition: 0.5s;
}

.footer {
    margin-top: 45px;
    margin-left: 50px;
    text-align: left;
}